@use '@angular/material' as mat;

@include mat.core();

/* Light Theme */
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  )
));

/* Dark Theme */
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$blue-grey-palette),
    accent: mat.define-palette(mat.$amber-palette),
  )
));

@include mat.all-component-themes($light-theme);

/* Dark mode class */
body.dark-theme {
  @include mat.all-component-colors($dark-theme);
  background: #121212;
  color: white;
}

/* Global Layout */
html, body {
  height: 100%;
  margin: 0;
}
